.inter-logo-color {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-hero {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-color{
    color: #4E47FF;
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 11.5px 36px;
    width: 132px;
    height: 47px;
    font-size: 16px;
    border: none;
}
header{
    background-image: url(Assets/Hero-bg.png);
    width: 1520px;
    height: 684.5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -5px 180px;
}
.logo{
    font-weight: 900;
    font-size: 34px;
}

.hero{
    margin: 200px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 237px;

}
.hero h1{
    font-size: 65px;
    font-weight: bold;
}

.btn-sf{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 11.5px 36px;
    width: 174px;
    height: 48px;
    font-size: 16px;
    border: none;
}

.btn-llp{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 11.5px 36px;
    width: 229px;
    height: 48px;
    font-size: 16px;
    border: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 68px 200px 50px 200px;
}
.banner-content{
    width: 517px;
    height: 203px;
}
.banner-img{
    width: 430px;
    height: 328px;
    border-radius: 48px;
}
.banner-title{
    font-weight: bold;
    font-size: 42px;
}
.banner-des{
    color: #252432;
    font-size: 24px;
}

.join{
    background-color: rgba(78, 71, 255, 0.11);
    border-radius: 24px;
    margin: 120px 180px;
    padding: 10px 142px;
}
.join-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.num{
    display: flex;
    gap: 158px;
    justify-content: center;
     text-align: center;
}

.sonka{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.under{
    margin-top: -50px;
}
.number{
    margin-top: -50px;
}
.touch{
    display: flex;
    margin-left: 150px;
    margin-right: 50px;
}
.touch-content{
    font-size: 97px;
    font-weight: bold;
    align-items: center;
    width: 600px;
    height: 250px;
}
.touch-form{
    font-size: 18px;
    width: 400px;
    height: 500px;
    padding: 100px;
}
.touch input[type="text"],.touch input[type="email"]{
    padding: 12px;
    font-size: 20px;
    width: 500px;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color:	#F8F8FF;
}
.touch textarea{
    padding: 12px;
    font-size: 20px;
    width: 500px;
    height: 135px;
    border-radius: 10px;
    border: none;
    background-color:	#F8F8FF;
}
.btn-git{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 11.5px 36px;
    width: 500px;
    height: 60px;
    font-size: 16px;
    border: none;
}