.inter-logo-color {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-hero {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-color{
    color: #4E47FF;
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 11.5px 36px;
    width: 132px;
    height: 47px;
    font-size: 16px;
    border: none;
}
header{
    background-image: url(Assets/Hero-bg.png);
    width: 1520px;
    height: 684.5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -5px 180px;
}
.logo{
    font-weight: 900;
    font-size: 34px;
}

.hero{
    margin: 200px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 237px;

}
.hero h1{
    font-size: 65px;
    font-weight: bold;
}

.btn-sf{
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 11.5px 36px;
    width: 174px;
    height: 48px;
    font-size: 16px;
    border: none;
}

